<?xml version="1.0" encoding="UTF-8" ?>
<web-app>
<!--    <servlet>-->
<!--        <servlet-name>lagou</servlet-name>-->
<!--        <servlet-class>server.LagouServlet</servlet-class>-->
<!--    </servlet>-->
<!--    <servlet-mapping>-->
<!--        <servlet-name>lagou</servlet-name>-->
<!--        <url-pattern>/lagou</url-pattern>-->
<!--    </servlet-mapping>-->
<!--    <servlet>-->
<!--        <servlet-name>demo1</servlet-name>-->
<!--        <servlet-class>server.Demo1Servlet</servlet-class>-->
<!--    </servlet>-->
<!--    <servlet-mapping>-->
<!--        <servlet-name>demo1</servlet-name>-->
<!--        <url-pattern>/demo1</url-pattern>-->
<!--    </servlet-mapping>-->

<!--    <servlet>-->
<!--        <servlet-name>demo2</servlet-name>-->
<!--        <servlet-class>server.Demo2Servlet</servlet-class>-->
<!--    </servlet>-->
<!--    <servlet-mapping>-->
<!--        <servlet-name>demo2</servlet-name>-->
<!--        <url-pattern>/demo2</url-pattern>-->
<!--    </servlet-mapping>-->

<!--    <servlet>-->
<!--        <servlet-name>demo3</servlet-name>-->
<!--        <servlet-class>server.Demo3Servlet</servlet-class>-->
<!--    </servlet>-->
<!--    <servlet-mapping>-->
<!--        <servlet-name>demo3</servlet-name>-->
<!--        <url-pattern>/demo3</url-pattern>-->
<!--    </servlet-mapping>-->
</web-app>
